/* links as buttons */
a {
    display: block;
    width: 260px;
    /* pick a width that fits "budget projections" */
    text-align: center;
    padding: 15px 20px;
    background: #2563eb;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    /* keeps sizing consistent */
}

a:hover {
    background: #1e40af;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    /* full screen */
    display: flex;
    flex-direction: column;
    /* stack header + content */
    background-color: crimson
}

/* layout */
div:not(#table-div) {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

/* stack buttons */
div div:not(#table-div) {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ccc;
    background-color: whitesmoke;
    outline: 5px solid black;
    margin-top:auto;
}

/* header */
header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    background-color: whitesmoke;
    outline: 5px solid black;
}

header h1 {
    font-size: 64px;
    margin: 0;
}

header p {
    margin: 5px 0 0;
    font-style: italic;
}





.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.popup-box input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}





#table-display{
    padding-top : 5px;
}
#table-div{
    background-color: #2563eb;
    min-height: 50vh;
    border: 5px solid black;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


#table-div table {
    width: 99%;
    background-color: whitesmoke;
    border: 2px solid black;
    margin: auto;
    text-align: center;
}

#table-div tbody{
    background-color: whitesmoke;
    min-height: 50vh;
}

#table-div td{
    background-color: whitesmoke;
}

#table-div form {
    width: 100%;
    background-color: whitesmoke;
    border:2px;
    margin-bottom: 2px;
    text-align: left;
    min-height: 4vh;
}

#table-div thead td{
    background-color: grey;
    border: 2px solid black;
}

#annual-expenses-form, #budget-projection-form, #supplier-form {
    background: grey;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}